body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 670px) {
    .hide-desktop {
        display: none;
    }
}

@media (min-width: 670px) {
    .hide-mobile {
        display: none;
    }
}